.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;

  label {
    font-size: 0.75rem;
    display: flex;
  }

  select,
  input {
    height: 2rem;
    box-sizing: border-box;
  }
}
